.container {
  height: 100vh;
  background-color: #eb9fbe; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: white;
  padding: 40px;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #333;
}



.form-group {
  margin-bottom: 16px;

}

.submitBtn {
width: 100%;
  background-color: #eb9fbe;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.submitBtn:hover {
  background-color: #643d4e;
}

.links {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
}

.links a {
  color: #222;
  font-weight: 500;
  text-decoration: underline;
  margin-left: 4px;
}
